/**
 * Google Fonts Demo
 **/

/* Add in the Google Fonts of your choice */

.thought1 {
font-family: Arial, Helvetica, sans-serif;
}
.thought2 {
font-family: "lucida console", courier, monospace;
}
.thought3 {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}